.cartmessage{
  position: fixed;
  top: 0;
  left: 50% ;
  width: 30%;
  height: 50%;
  /* background: rgba(210, 119, 119, 0.75); */
  color: rgb(6, 10, 9);
  border-radius: 10px;
  background-color: antiquewhite;

}